<!-- HERO -->
<!-- ----------- -->
<section class="container">
	<svg>
		<use href="../images/svg/symbol-defs.svg#icon-Logo"></use>
	</svg>
	<button class="hero-button-modal" type="button">
		<svg width="69" height="56">
			<use href="../images/svg/symbol-defs.svg#icon-menu_40px"></use>
		</svg>
	</button>
	<p class="hero-title-descr"> A hair salon for men in Kyiv </p>
	<h1 class="hero-title"> BarberShop </h1>
	<p class="hero-title-description">
		Ми експерти у модних чоловічих стрижках. Працюємо швидко, обережно та зі
		смаком.
	</p>
</section>
