.header-nav-container {
    display: none;
}

.header-container {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../../images/hero/mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-logo {
    position: absolute;
    top: 40px;
    fill: rgba(255, 255, 255, 1);
}

.hero-button-modal {
    position: absolute;
    top: 48px;
    right: 31px;
    cursor: pointer;
    border: none;

}

.hero-mane-title-deskr {
    padding-bottom: 183px;
    padding-top: 208px;
}

.hero-title-descr::before {
    display: block;
    position: absolute;
    top: 185px;
    left: 61px;
    content: "";
    width: 1px;
    height: 60px;
    transform: rotate(90deg);
    flex-shrink: 0;
    background: rgba(157, 164, 189, 0.60);
}

.hero-title-descr {
    color: rgba(157, 164, 189, 0.60);
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;

    padding-left: 80px;
    margin-bottom: 20px;
}

.hero-title {
    color: #FFF;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    margin-bottom: 20px;
}

.hero-title-description {
    color: #9DA4BD;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.32px;

    width: 306px;
}

.hero-button-modal {
    background-color: transparent;
}

.hero-button-svg {
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .header-container {
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
            url(../../images/hero/laptop.png);
        background-repeat: no-repeat;
        background-size: 570px 680px;
        background-position-x: 159px;

    }

    .hero-mane-title-deskr {
        padding-bottom: 245px;
        padding-top: 192px;
        margin-left: 240px;
    }

    .hero-title-description {
        width: 355px;
    }

    .hero-button-modal {
        display: none;
    }

    .header-nav-container {
        display: flex;
    }

    .nav-header {
        display: flex;
        padding-top: 52px;
        padding-left: 138px;
        margin-right: 24px;
    }

    .header-nav-list {
        display: flex;
        gap: 23px;
    }

    .header-nav-text {
        color: #FFF;
        font-family: Open Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;
    }

    .header-nav-btn {
        color: #FFF;
        font-family: Open Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.08px;
        text-transform: uppercase;
        background-color: transparent;
        padding: 12px 23px;
        border-radius: 25px;
        border: 1px solid #FF6C00;
        min-width: 160px;
        height: 40px;
        margin-top: 40px;
    }

}